.ent-bandeauTitre-container .ent-bandeauTitre-titre {
  text-align: center;
  padding: 15px;
  list-style-type: none;
  background-color: #D61F61;
  width: 90%;
  height: 50px;
  border-radius: 10px 10px 0 0;
  color: white;
  border-bottom: 3px solid white;
  margin: 0 auto;
}
