/************************************
*             Header
**************************************/
.navbar{
  background-color: #D61F61 ;

}

.nav li a h6{
  color: #FFF;
  font-size: initial;
}







