/************************************
*               Menu
************************************/


.ent-menu-container {
  background-color: #069AC8;
  .ent-menu {

    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    background-color: #069AC8;

    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
      color: white;
    }


    a:hover {
      color: #069AC8;
      text-decoration: none;
    }

    li {
      list-style: none;
      align-self: center;
      text-align: center;
      background-color: #D61F61;
      border-radius: 10px;
      color: white;
      padding: 10px;
      width: 471px;
      margin-right: 10px;

    }
  }
}
