/******************************************
*           Commande
*******************************************/

.ent-commande-container-global{
  width:100%;
  background-color: #069AC8;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom:35px;

  .ent-bandeauMenu {
    width: 90%;
    margin: 10px auto;

    ul li:not(.active) a {
      color: #ffffff;
    }
    ul li a:hover {
      color: #D61F61;
      font-weight: 400;
    }
  }
}
.ent-commande-tab{
  margin: 0 auto;
  width: 95%;


  table {
    border-collapse:  collapse;
    margin: 0 auto;
    padding-top: 20px;
  }

  tr{
    border: 2px solid #069AC8;
    height: 50px;
  }

  th{
    color:  white;
    font-size:  14px;
    padding-top:  20px;
    text-align: center;
    font-variant:small-caps;
    font-weight:300;
    letter-spacing:2px;
  }

  td{
    font-size:  12px;
    background-color: white;
    text-align: center;

  }
}

.fa-exclamation-circle{
  color:  red;
}

.fa-check-square-o{
  color:  green;
}

.fa-clock-o{
  color:  orange;
}

.fa-star{
  color:  #D61F61;

}

.fa-motorcycle{
  color:  #069AC8;
}

.ent-commande-footer{
  background-color: #f4f4f4;
  width:  90%;

  display: flex;
  flex-direction: row;
  align-items: flex-end;

  margin-left: 5%;
  padding:  10px;

  div{
    padding-left: 20px;
    font-size:  11px;
  }



}