.ent-detail-container-global{
  width:100%;
  background-color: #069AC8;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0 auto 80px;

  h2{
    text-align: center;
    color:  #D61F61;
    padding-bottom: 10px;
  }

  .ent-detail-infoCommande {
    color : white;


    .ent-detail-container {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 20px;
      justify-content: space-between;

      li{
        list-style-type: none;
        padding: 5px;
      }

      .ent-detail-infoCommande {
        border: 1px solid white;
        width: 49%;
        margin-bottom: 20px;
        padding: 10px 20px;
      }

      .ent-detail-informationClient {
        border: 1px solid white;
        width: 49%;
        margin-bottom: 20px;
        padding: 10px 20px;
      }

      .ent-detail-infoPaiement {
        border: 1px solid white;
        width: 49%;
        margin-bottom: 50px;
        padding: 10px 20px;
      }

      .ent-detail-infoStatut {
        border: 1px solid white;
        width: 49%;
        margin-bottom: 50px;
        padding: 10px 20px;

        select {
          color: #000;
          padding: 5px;
          margin: auto 10px;
          width: 140px;
        }
        input[type=submit]{
          color: #000;
          margin: auto 10px;
          padding: 5px;
          background-color: rgba(255,255,255,0.3);
          border: none;
        }
      }
    }
  }

  .ent-detail-detailCommande {
    margin: 0 auto;
    border: 1px solid white;
    width:90%;

    table{
      margin: 0 auto;
      margin-bottom: 50px;
      padding: 10px 20px;
      border-collapse: collapse;
      color:  white;

      tr{
        border: 1px solid darkslategrey;
      }

      th,td{
        text-align: center;
        padding: 10px;


      }

      .right{
        text-align: right;
        color:  #D61F61;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}
