/*********************************************
*       Home
**********************************************/

.ent-home-container-global{
  width:100%;
  background-color: #069AC8;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0 auto 80px;

  .home-stats {
    margin: 0 auto;
    width: 100%;
    text-align: center;

    div {
      display: inline-block;
      background-color: #ffffff;
      margin: 20px 10px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      padding: 10px;
      color: #069AC8;
      border: 3px solid #D61F61;

      p {
        margin-top:30%;
        font-weight: 400;
        span {
          display: block;
          font-weight: 700;
          font-size: 26px;
        }
      }
    }
  }
}



.ent-home-tab{
  margin: 0 auto;
  width: 95%;


  table {
    border-collapse:  collapse;
    margin: 0 auto;
    padding-top: 20px;
  }

  tr{
    border: 2px solid #069AC8;
    height: 50px;
  }

  th{
    color:  white;
    font-size:  14px;
    padding-top:  20px;
    text-align: center;
    font-variant:small-caps;
    font-weight:300;
    letter-spacing:2px;
  }

  td{
    font-size:  12px;
    background-color: white;
    text-align: center;

  }

}

.fa-times{
  color:  red;
}

.fa-check-square-o{
  color:  green;
}

.fa-clock-o{
  color:  orange;
}

.fa-star{
  color:  #D61F61;

}

.fa-motorcycle{
  color:  #069AC8;
}

.fa-file-pdf-o{
  color: red;
}
.ent-home-footer{
  background-color: #f4f4f4;
  width:  90%;

  display: flex;
  flex-direction: row;
  align-items: flex-end;

  margin-left: 5%;
  padding:  10px;

  div{
    padding-left: 20px;
    font-size:  11px;
  }



}
