@charset "UTF-8";
/************************************
*             Connexion
**************************************/
.ent-connexion-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ent-connexion-container .connex {
  margin-top: 93px;
  margin-bottom: -50px;
  font-family: "LoveYaLikeASister", "Tahoma", "Helvetica", "​clean",​sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff;
}

.ent-connexion-container .ent-header-container {
  background-color: #D61F61;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.ent-connexion-container .ent-header-container .ent-header-logo {
  margin-left: 100px;
}

.ent-connexion-container .ent-header-container .ent-header-titre h1 {
  font-family: Helvetica , Arial, sans-serif;
  color: #ffffff;
  font-size: 20px;
  line-height: normal;
  margin-left: 30px;
}

.ent-connexion-container .ent-container-auth {
  background-color: #ffffff;
  margin: 100px auto;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.ent-connexion-container .ent-container-auth .ent-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ent-connexion-container .ent-container-auth .ent-form-content .auth {
  width: 250px;
  background-color: #DBF0F7;
  border: 1px solid #60BEDD;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.ent-connexion-container .ent-container-auth .ent-form-content .btn_auth {
  background-color: #D51E60;
  color: #ffffff;
  border-radius: 8px;
  font-size: 1em;
  text-align: center;
  width: 150px;
  margin-top: 30px;
  align-self: center;
}

.ent-connexion-container .ent-container-auth .ent-form-content .btn_auth i {
  color: #ffffff;
}
