/*********************************************
*       Home
**********************************************/
.ent-home-container-global {
  width: 100%;
  background-color: #069AC8;
  -webkit-background-size: cover;
  background-size: cover;
}

.ent-home-tab {
  margin: 0 auto;
  width: 95%;
}

.ent-home-tab table {
  border-collapse: collapse;
  margin: 0 auto;
  padding-top: 20px;
}

.ent-home-tab tr {
  border: 2px solid #069AC8;
  height: 50px;
}

.ent-home-tab th {
  color: white;
  font-size: 14px;
  padding-top: 20px;
}

.ent-home-tab td {
  font-size: 12px;
  background-color: white;
  text-align: center;
}

.fa-times {
  color: red;
}

.fa-check-square-o {
  color: green;
}

.fa-clock-o {
  color: orange;
}

.fa-star {
  color: #D61F61;
}

.fa-motorcycle {
  color: #069AC8;
}

.fa-file-pdf-o {
  color: red;
}

.ent-home-footer {
  background-color: #f4f4f4;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 5%;
  padding: 10px;
}

.ent-home-footer div {
  padding-left: 20px;
  font-size: 11px;
}
